.QuizList {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(45deg, #FD8355 0%, rgb(236, 78, 100) 50%, #F79CBD 100%);
}

.QuizList h1 {
  color: #fff;
  font-size: 35px;
}

.QuizList ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.QuizList ul li {
  font-size: 20px;
  margin-bottom: 10px;
}

.QuizList ul li a {
  text-decoration: none;
  color: #fff;
}

.QuizList ul li a:hover {
  color: #363F54;
}